.menu{
    animation-name: introMenu;
    animation-duration: .35s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(-150px);
}

@keyframes introMenu {
    from { transform: translateY(-150px)}
    to { transform: translateY(0px)}
}

.menu .tabs > div > div > div{
    flex-wrap: wrap;
}

@media (max-width: 468px) {
    .menu .tabs button > span > span {
        display: none;
    } 
}

@media (max-width: 360px) {
    .menu .tabs button {
        min-width: 60px !important;
    }
}

