.user-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: introUserData;
    animation-duration: .35s;
    animation-timing-function: ease-out;
    animation-delay: .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes introUserData {
    from { opacity: 0 }
    to { opacity: 1 }
}

.user-wrapper h3{
    max-width: 235px;
    font-size: 2.8em;
    font-weight: 500;
    margin: 20px 0 10px;
    line-height: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-wrapper h4{
    max-width: 235px;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.1em;
    margin: 0 0 15px 0;
}

.user-wrapper p{
    margin: 0 0 2px;
    line-height: 0;
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-wrapper a{
    text-decoration: none;
    color: #31409F;
    font-weight: 500;
}

.user-wrapper a:hover{
    text-decoration: underline;
}

.user-wrapper button{
    width: 100%;
    margin-top: 15px;
}

.subUserInfo{
    margin-top: 20px;
}

.userDataIcon{
    margin-right: 7px;
}

.userAvatar{
    max-width: 235px !important;
    height: 235px !important;
    border-radius: 20px;
}

