.header{
    margin: 0 0 80px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.header h1{
    font-size: 6.7em;
    margin: 50px 0 0;
    line-height: 0;
    animation-name: introTitle;
    animation-duration: .35s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.subtitleContainer{
    margin: 32px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2{
    font-size: 4.3em;
    font-weight: 400;
    margin: 20px 0 0;
    line-height: 0;
    animation-name: introSubtitle;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-delay: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media (max-width: 728px) and (orientation: landscape) {
    .header{
        margin: 0 0 40px;
    }

    h1{
        font-size: 5.7em;
    }
    
    .subtitleContainer{
        margin: 24px 0 0;
    }
    
    h2{
        font-size: 3.5em;
    }
}

@keyframes introTitle {
    from { transform: translateY(50px) ; opacity: 0;}
    to { transform: translateY(0px) ; opacity: 1;}
}

@keyframes introSubtitle {
    from { transform: translateY(-30px) ; opacity: 0;}
    to { transform: translateY(0px) ; opacity: 1;}
}

