.footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 25px;
  bottom: 0;
  z-index: 2;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}

.footer h3{
  font-weight: 400;
}

.footer a{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .footer{
    display: none;
  }
}