.formContainer {
    animation-name: introInput;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes introInput {
    from { transform: translateY(30px) ; opacity: 0;}
    to { transform: translateY(0px) ; opacity: 1;}
}

.label {
    font-size: 20px !important;
}

.input {
    font-size: 24px !important;
}